In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("Social_Network_Ads.csv")
df

      User ID  Gender   Age  EstimatedSalary  Purchased
0    15624510    Male  19.0          19000.0          0
1    15810944    Male  35.0          20000.0          0
2    15668575  Female  26.0          43000.0          0
3    15603246  Female  27.0          57000.0          0
4    15804002    Male  19.0          76000.0          0
..        ...     ...   ...              ...        ...
395  15691863  Female  46.0          41000.0          1
396  15706071    Male  51.0          23000.0          1
397  15654296  Female  50.0          20000.0          1
398  15755018    Male  36.0          33000.0          0
399  15594041  Female  49.0          36000.0          1

[400 rows x 5 columns]

In [4]:
df.shape

(400, 5)

In [5]:
df.dtypes

User ID              int64
Gender              object
Age                float64
EstimatedSalary    float64
Purchased            int64
dtype: object

In [6]:
x=df.drop(['User ID', 'Gender'],axis=1)
x

      Age  EstimatedSalary  Purchased
0    19.0          19000.0          0
1    35.0          20000.0          0
2    26.0          43000.0          0
3    27.0          57000.0          0
4    19.0          76000.0          0
..    ...              ...        ...
395  46.0          41000.0          1
396  51.0          23000.0          1
397  50.0          20000.0          1
398  36.0          33000.0          0
399  49.0          36000.0          1

[400 rows x 3 columns]

In [7]:
x.dtypes

Age                float64
EstimatedSalary    float64
Purchased            int64
dtype: object

In [8]:
y=df['Purchased']
x=x.drop('Purchased',axis=1)

In [9]:
x

      Age  EstimatedSalary
0    19.0          19000.0
1    35.0          20000.0
2    26.0          43000.0
3    27.0          57000.0
4    19.0          76000.0
..    ...              ...
395  46.0          41000.0
396  51.0          23000.0
397  50.0          20000.0
398  36.0          33000.0
399  49.0          36000.0

[400 rows x 2 columns]

In [10]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [11]:
#split the data-> 75=train, 25=test
#sklearn=library, model_selection=class
from sklearn.model_selection import train_test_split

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=12)

In [13]:
#scaling
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [14]:
std=StandardScaler()
x_train=std.fit_transform(x_train)
x_test=std.fit_transform(x_test)

In [15]:
x_train

array([[-1.10470069, -1.63100201],
       [-0.13310817,  1.4386753 ],
       [-1.39617844,  0.36577838],
       [ 1.22712134, -0.76672393],
       [ 0.54700658,  1.76650492],
       [-0.13310817,  1.64729415],
       [ 0.44984733, -0.46869701],
       [ 1.12996209,  0.54459453],
       [ 0.44984733,  0.30617299],
       [ 1.12996209, -0.91573739],
       [-0.91038218, -0.31968355],
       [-0.61890443, -1.54159393],
       [ 0.35268808, -0.52830239],
       [ 0.35268808,  0.2763703 ],
       [-0.71606368,  1.94532107],
       [ 1.03280284,  2.12413722],
       [ 0.25552883,  0.15715953],
       [-1.29901919,  0.42538376],
       [-0.23026743, -0.67731585],
       [-0.32742668,  1.25985915],
       [-0.52174518,  2.39236146],
       [-1.10470069, -1.03494816],
       [-0.03594892, -0.52830239],
       [-0.91038218,  0.42538376],
       [ 0.15836958,  1.08104299],
       [-0.23026743, -0.26007816],
       [ 1.5185991 ,  1.02143761],
       [-1.10470069, -0.52830239],
       [-1.78481545,  0.00814607],
       [-1.10470069, -1.63100201],
       [ 0.44984733, -0.14086739],
       [-0.81322293,  2.33275607],
       [-1.00754144, -0.37928893],
       [ 1.22712134, -1.48198855],
       [ 1.7129176 , -0.91573739],
       [ 2.00439535,  0.75321338],
       [ 1.9072361 ,  1.55788607],
       [ 2.19871386,  0.39558107],
       [ 0.44984733,  1.14064838],
       [ 1.42143985,  0.60419992],
       [ 0.35268808,  0.30617299],
       [ 0.15836958,  0.21676492],
       [-1.8819747 , -0.76672393],
       [-0.71606368,  0.30617299],
       [-0.91038218, -0.97534278],
       [ 0.83848434, -1.24356701],
       [ 0.93564359, -1.06475085],
       [ 0.93564359,  1.11084569],
       [ 1.9072361 ,  0.12735684],
       [ 1.61575835,  1.02143761],
       [-0.23026743,  0.54459453],
       [-1.00754144,  0.60419992],
       [-1.00754144,  2.00492646],
       [-1.20185994,  0.51479184],
       [ 0.74132509, -1.42238316],
       [ 0.06121033, -0.43889432],
       [-1.00754144, -0.46869701],
       [-1.49333769, -1.2733697 ],
       [ 0.15836958,  1.91551838],
       [ 0.06121033,  0.03794876],
       [ 0.35268808, -0.28988085],
       [-1.20185994, -1.42238316],
       [-0.23026743,  0.06775145],
       [ 2.00439535,  2.2135453 ],
       [-1.10470069,  0.33597568],
       [ 1.42143985, -1.45218585],
       [-0.23026743,  0.81281876],
       [-1.49333769, -0.20047278],
       [-0.23026743, -1.39258047],
       [-1.10470069,  0.06775145],
       [ 0.83848434, -1.39258047],
       [-0.03594892,  0.12735684],
       [-1.39617844, -0.64751316],
       [-0.13310817,  2.2135453 ],
       [ 0.74132509, -1.12435624],
       [ 0.25552883,  0.06775145],
       [-0.42458593,  2.36255876],
       [ 0.83848434,  0.54459453],
       [ 0.83848434, -1.12435624],
       [ 0.35268808,  0.51479184],
       [-1.20185994,  0.60419992],
       [-0.13310817, -0.52830239],
       [ 0.25552883, -0.14086739],
       [-0.23026743,  0.06775145],
       [-0.81322293,  0.15715953],
       [ 0.25552883,  1.11084569],
       [-0.03594892,  0.15715953],
       [ 0.06121033,  1.28966184],
       [-1.59049694, -1.60119932],
       [ 0.06121033, -0.26007816],
       [ 0.35268808, -0.73692124],
       [ 1.03280284, -1.18396162],
       [-1.78481545,  0.18696222],
       [ 1.03280284,  2.03472915],
       [-0.52174518,  1.49828069],
       [-0.03594892,  2.2135453 ],
       [-1.59049694, -0.05145932],
       [ 0.44984733,  0.15715953],
       [ 0.74132509, -0.73692124],
       [-0.81322293,  0.39558107],
       [ 0.35268808,  0.06775145],
       [ 0.83848434, -0.85613201],
       [ 1.03280284, -1.09455355],
       [-0.23026743, -0.34948624],
       [-1.10470069,  0.30617299],
       [-0.42458593, -0.02165662],
       [ 1.81007685,  1.88571569],
       [ 0.06121033,  0.03794876],
       [-0.32742668,  0.06775145],
       [ 1.7129176 ,  1.64729415],
       [-0.52174518, -1.54159393],
       [-0.91038218, -1.12435624],
       [-0.42458593, -1.24356701],
       [-1.29901919, -0.43889432],
       [-1.10470069,  0.42538376],
       [-0.61890443, -0.1110647 ],
       [ 2.1015546 ,  0.18696222],
       [-0.03594892,  0.21676492],
       [-0.81322293, -0.67731585],
       [-1.68765619,  0.36577838],
       [-0.03594892,  2.00492646],
       [ 1.81007685,  1.02143761],
       [-0.23026743,  0.09755415],
       [-1.29901919, -1.51179124],
       [ 1.03280284, -1.21376432],
       [-0.61890443,  0.12735684],
       [-0.23026743,  0.63400261],
       [ 0.25552883,  0.24656761],
       [-1.29901919,  0.57439722],
       [ 0.74132509,  0.2763703 ],
       [ 1.22712134,  0.54459453],
       [ 0.44984733, -0.17067008],
       [ 1.03280284, -0.85613201],
       [-0.71606368,  0.57439722],
       [-0.13310817,  0.87242415],
       [-1.00754144, -0.34948624],
       [ 2.00439535, -0.67731585],
       [ 1.5185991 ,  0.36577838],
       [-0.32742668,  1.34926722],
       [ 2.19871386, -0.82632932],
       [-0.23026743, -0.31968355],
       [ 1.12996209,  0.48498915],
       [ 0.35268808, -1.18396162],
       [ 0.35268808, -0.20047278],
       [-1.39617844, -0.1110647 ],
       [-0.03594892,  0.24656761],
       [ 0.25552883, -0.37928893],
       [-1.20185994, -1.09455355],
       [-0.03594892, -0.23027547],
       [-1.68765619, -1.39258047],
       [-1.00754144, -1.57139662],
       [ 1.12996209, -1.24356701],
       [ 0.06121033, -0.55810508],
       [-0.13310817,  0.15715953],
       [-1.39617844, -1.48198855],
       [-1.10470069,  1.4386753 ],
       [-0.91038218, -0.76672393],
       [-0.81322293,  0.30617299],
       [-0.13310817, -0.28988085],
       [ 0.83848434,  0.12735684],
       [ 0.54700658,  1.88571569],
       [ 0.74132509, -1.30317239],
       [ 0.15836958,  0.09755415],
       [-1.29901919, -1.39258047],
       [-0.03594892, -1.09455355],
       [-0.03594892, -0.43889432],
       [-0.23026743, -0.76672393],
       [-0.23026743, -1.33297509],
       [ 0.83848434,  0.78301607],
       [-0.91038218,  0.57439722],
       [-0.03594892,  0.00814607],
       [ 0.15836958,  0.78301607],
       [ 2.19871386,  0.96183222],
       [-0.13310817, -0.20047278],
       [ 0.35268808,  0.06775145],
       [-0.81322293, -0.79652662],
       [-0.81322293, -1.24356701],
       [-1.10470069,  0.48498915],
       [ 1.12996209, -0.14086739],
       [ 2.1015546 ,  2.18374261],
       [ 2.19871386, -1.06475085],
       [ 0.83848434,  0.2763703 ],
       [ 0.44984733,  0.00814607],
       [ 0.25552883, -0.28988085],
       [-0.71606368,  0.51479184],
       [-1.10470069, -1.57139662],
       [ 0.93564359, -1.39258047],
       [ 0.25552883, -0.67731585],
       [ 1.42143985,  2.39236146],
       [-1.8819747 , -0.52830239],
       [-0.91038218, -0.31968355],
       [-1.20185994,  0.2763703 ],
       [-1.00754144, -0.34948624],
       [ 0.25552883, -0.37928893],
       [-0.23026743, -0.94554009],
       [-0.71606368,  0.2763703 ],
       [ 0.35268808, -0.52830239],
       [-1.10470069, -0.79652662],
       [-0.81322293, -0.79652662],
       [-0.13310817, -1.09455355],
       [ 1.5185991 , -1.06475085],
       [-0.23026743, -0.14086739],
       [-0.03594892, -0.37928893],
       [-0.13310817, -0.58790778],
       [-0.91038218,  1.58768876],
       [ 1.5185991 ,  2.18374261],
       [-0.52174518,  0.48498915],
       [-0.42458593, -0.28988085],
       [-0.91038218,  0.2763703 ],
       [ 2.19871386,  1.14064838],
       [-0.81322293, -0.26007816],
       [-1.8819747 ,  0.48498915],
       [ 0.06121033, -0.26007816],
       [ 0.35268808,  0.06775145],
       [-0.23026743,  0.2763703 ],
       [ 1.61575835,  1.14064838],
       [ 0.44984733, -0.4984997 ],
       [-0.71606368,  1.37906992],
       [ 0.44984733,  0.30617299],
       [-1.20185994,  0.30617299],
       [-0.23026743,  0.15715953],
       [ 0.25552883,  0.03794876],
       [-0.03594892,  0.06775145],
       [ 1.9072361 , -1.30317239],
       [-0.23026743,  0.15715953],
       [ 2.1015546 , -1.21376432],
       [ 0.83848434,  1.40887261],
       [-0.61890443, -1.06475085],
       [-1.68765619, -1.00514547],
       [-1.59049694,  0.06775145],
       [ 0.74132509, -1.42238316],
       [-0.03594892,  0.30617299],
       [ 2.1015546 , -0.82632932],
       [-0.42458593, -0.79652662],
       [-0.52174518,  1.40887261],
       [-0.71606368, -0.23027547],
       [-0.52174518,  1.40887261],
       [-1.49333769, -1.54159393],
       [ 0.83848434, -0.31968355],
       [ 0.15836958, -0.31968355],
       [ 1.61575835, -1.30317239],
       [ 0.35268808,  0.06775145],
       [-1.10470069,  0.30617299],
       [-1.59049694,  0.54459453],
       [-1.00754144, -1.48198855],
       [-1.39617844, -1.24356701],
       [-1.00754144,  0.57439722],
       [ 0.06121033, -0.58790778],
       [-0.03594892,  0.30617299],
       [-0.61890443,  0.03794876],
       [ 1.03280284,  1.8261103 ],
       [ 1.32428059,  2.27315069],
       [ 0.35268808,  0.03794876],
       [ 2.00439535, -0.94554009],
       [-1.29901919, -0.34948624],
       [-0.23026743,  0.21676492],
       [ 0.06121033, -0.58790778],
       [-0.03594892, -0.4984997 ],
       [-0.23026743, -0.58790778],
       [ 0.93564359, -1.48198855],
       [-0.13310817, -0.46869701],
       [ 0.93564359, -0.58790778],
       [-0.42458593, -0.85613201],
       [ 0.93564359, -1.18396162],
       [ 0.15836958,  0.03794876],
       [-0.52174518,  0.90222684],
       [ 0.44984733,  2.36255876],
       [-0.32742668, -0.79652662],
       [-0.42458593,  1.28966184],
       [ 0.06121033,  0.30617299],
       [-0.23026743, -0.4984997 ],
       [-0.91038218, -0.43889432],
       [ 0.25552883,  2.15393992],
       [-1.00754144,  0.78301607],
       [ 0.44984733,  0.60419992],
       [ 0.35268808, -0.31968355],
       [-1.10470069, -1.18396162],
       [-1.00754144,  0.54459453],
       [ 1.12996209,  0.57439722],
       [-0.23026743, -0.58790778],
       [-1.68765619, -0.61771047],
       [ 0.25552883, -0.26007816],
       [ 2.00439535,  0.93202953],
       [-1.78481545, -1.45218585],
       [ 2.1015546 ,  1.79630761],
       [ 1.9072361 , -1.09455355],
       [-0.52174518, -1.54159393],
       [ 0.25552883, -0.31968355],
       [-1.8819747 , -0.05145932],
       [ 1.03280284, -1.03494816],
       [-0.61890443,  0.57439722],
       [ 1.42143985, -0.94554009],
       [ 0.44984733, -0.14086739],
       [ 0.74132509,  1.8261103 ],
       [-0.61890443, -0.34948624],
       [ 0.06121033, -0.31968355],
       [-0.03594892,  2.27315069],
       [ 1.03280284, -1.09455355],
       [-0.61890443, -1.63100201],
       [ 1.03280284,  1.46847799]])

In [16]:
x_test

array([[ 1.87289403,  0.51277145],
       [ 0.04478858,  0.03407213],
       [ 0.95884131,  2.00518698],
       [-0.32083251, -1.40202584],
       [-0.32083251, -1.20491435],
       [ 0.86743604,  0.73804172],
       [-1.05207469, -1.09227922],
       [-0.86926414,  0.37197753],
       [ 1.23305713,  1.92071063],
       [ 0.04478858, -0.7825326 ],
       [-1.50910105,  0.31565996],
       [-0.59504832,  1.83623428],
       [ 0.77603076, -0.58542111],
       [ 1.23305713,  1.24489982],
       [ 0.50181495, -0.86700895],
       [ 0.3190044 ,  0.96331199],
       [ 0.77603076, -0.75437381],
       [ 0.04478858,  1.47017009],
       [-0.32083251, -0.86700895],
       [-0.50364305, -1.09227922],
       [-0.04661669,  1.18858226],
       [ 0.3190044 ,  0.2593424 ],
       [ 0.04478858,  0.14670726],
       [-0.13802196,  0.03407213],
       [ 0.68462549,  0.34381875],
       [ 0.95884131, -1.17675557],
       [-0.04661669, -0.13488057],
       [-1.3262905 , -0.41646841],
       [ 1.96429931, -0.7825326 ],
       [-0.41223778, -0.75437381],
       [-0.77785887, -0.58542111],
       [-1.05207469,  0.40013631],
       [-0.41223778, -1.26123192],
       [ 0.3190044 , -0.44462719],
       [ 1.78148876, -1.31754948],
       [ 1.96429931, -0.66989746],
       [-1.78331687, -1.43018462],
       [ 1.14165185, -1.31754948],
       [ 0.77603076,  0.99147077],
       [-0.77785887, -1.48650219],
       [-1.69191159,  0.45645388],
       [-0.32083251, -0.27567449],
       [ 1.3244624 ,  0.06223091],
       [-1.87472214,  0.34381875],
       [-0.6864536 ,  0.17486605],
       [-1.78331687, -1.23307313],
       [-0.22942723,  1.58280523],
       [ 0.04478858, -0.7825326 ],
       [-1.41769578, -0.19119814],
       [ 0.77603076, -0.52910354],
       [ 1.05024658, -0.9514853 ],
       [ 0.3190044 ,  0.0903897 ],
       [ 1.50727294,  1.69544036],
       [-0.13802196,  0.65356537],
       [ 0.86743604,  1.80807549],
       [ 1.59867822, -0.27567449],
       [-1.14347996, -1.06412043],
       [ 1.69008349, -0.27567449],
       [ 0.77603076,  2.08966333],
       [ 0.13619386,  0.14670726],
       [-1.3262905 , -1.06412043],
       [ 0.50181495,  1.94886941],
       [ 1.14165185,  1.80807549],
       [ 0.77603076, -0.64173868],
       [-1.78331687,  0.4282951 ],
       [ 0.95884131, -0.9514853 ],
       [-0.32083251,  1.07594712],
       [-0.6864536 ,  1.35753496],
       [-0.32083251,  2.17413968],
       [-0.6864536 , -0.05040422],
       [ 0.04478858,  1.80807549],
       [ 0.68462549, -1.34570827],
       [-0.32083251, -0.36015084],
       [ 0.95884131,  0.11854848],
       [-0.96066941,  0.4282951 ],
       [-1.69191159,  0.11854848],
       [ 0.86743604,  0.11854848],
       [-0.96066941,  0.48461267],
       [-1.3262905 , -1.20491435],
       [-1.69191159,  0.34381875],
       [-0.32083251, -1.34570827],
       [-0.77785887, -1.54281975],
       [ 0.77603076,  1.21674104],
       [-1.50910105, -0.41646841],
       [ 1.87289403,  0.37197753],
       [ 1.41586767,  0.00591334],
       [-0.77785887,  1.04778834],
       [ 0.13619386, -0.36015084],
       [ 0.41040967,  1.18858226],
       [-0.32083251, -0.41646841],
       [ 0.04478858, -0.24751571],
       [ 0.22759913, -0.52910354],
       [ 0.86743604,  0.56908902],
       [ 0.04478858,  0.2593424 ],
       [-0.32083251,  0.03407213],
       [-1.78331687, -1.26123192],
       [-1.14347996, -1.51466097],
       [-0.50364305, -0.52910354],
       [-0.13802196,  0.2593424 ],
       [ 0.77603076, -1.26123192]])

In [17]:
y_train

92     0
328    1
67     0
254    0
360    1
      ..
241    0
253    1
390    1
155    0
331    1
Name: Purchased, Length: 300, dtype: int64

In [18]:
y_test

280    1
387    0
313    1
1      0
35     0
      ..
139    0
180    0
41     0
303    1
16     1
Name: Purchased, Length: 100, dtype: int64

In [19]:
from sklearn.linear_model import LogisticRegression

In [20]:
#training the model
model=LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [21]:
y_pred=model.predict(x_test)

In [22]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [23]:
acc=accuracy_score(y_test, y_pred)
print('Accuracy Score: ', acc)
c_m=confusion_matrix(y_pred, y_test)
print('Confusion Matrix', c_m)

Accuracy Score:  0.85
Confusion Matrix [[55  9]
 [ 6 30]]

In [24]:
from sklearn.metrics import precision_score, recall_score

In [25]:
pre=precision_score(y_test, y_pred)
print('Precision Score: ', pre)
rec=recall_score(y_test, y_pred)
print('Recall Score: ', rec)

Precision Score:  0.8333333333333334
Recall Score:  0.7692307692307693

In [26]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.86      0.90      0.88        61
           1       0.83      0.77      0.80        39

    accuracy                           0.85       100
   macro avg       0.85      0.84      0.84       100
weighted avg       0.85      0.85      0.85       100

In [9]:
cm_display = metrics.ConfusionMatrixDisplay(confusion_matrix=c_m display, labels=[False,True])
cm_display.plot()
plt.show()

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2890285.py, line 1)